@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
$hetic-green: #0de595;
body,
button,
input,
select,
textarea {
    font-family: 'Roboto';
}

.big-header {
    background-color: grey;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    color: white;
}

.background {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
}

.bill {
    position: relative;
}

.button {
    color: $hetic-green;
    text-decoration: none;
    background: white;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    border: none;
    position: relative;
}

h1 {
    position: relative;
}

.menu-popover-enter {
    opacity: 0;
    transform: rotateY(50deg);
}