@import "reset";

@font-face {
  font-family: "neuland";
  src: url("../font/NEULA.ttf") format("truetype");
}

body,
button,
input,
select,
textarea {
  font-family: "neuland";
}
.pane-leave-active,
.pane-enter-active {
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateX(100vw);
    background-image: url('../image/epee.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
  }
}

.pane-leave-active {
  animation: fake 1s;

  &::after {
    animation: slideLeave 1s;
  }
}

.pane-enter-active {
  animation: fake 2s;

  &::after {
    animation: slideEnter 1s ease 1s;
  }
}

@keyframes slideLeave {
  to {
    transform: translateX(0);
  }
}

@keyframes slideEnter {
  from {
    transform: translate(0);
  }
  to {
    transform: translateX(-100vw);
  }
}

.big-header {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

ul {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin-left: 300px;

  li {
    list-style: none;

    .button {
      text-decoration: none;
      background-image: url("../image/planche.png");
      background-position: center;
      background-repeat: no-repeat;
      justify-content: space-between;
      flex-direction: row;
      color: black;
      padding: 80px;
      font-size: 28px;
      &:hover {
        color: white;
      }
    }
  }
}

h1 {
  position: absolute;
  top: 20%;
  left: 30%;
  color: black;
  margin-right: 30px;
  font-size: 30px;
  letter-spacing: 5px;
  line-height: 40px;
}
