/* .star{
  background-color: yellow;
  border-radius:50%;
  position: absolute;
  
  &--small{
    height:1vw;
    width:1vw;
  }
  &--medium{
    height:3vw;
    width:3vw;
  }
  &--big{
    height:5vw;
    width:5vw;
  }
} */

