.pane-leave-active,
.pane-enter-active {
  &::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateX(100vw);
    background: url('../images/dharmachakra2.png'), linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.822), rgba(0, 0, 0, 0.822), rgba(0, 0, 0, 0));
    background-size: contain;
    // background-color: black;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.pane-leave-active {
  animation: fake 1s;

  &::after {
    animation: slideLeave 1s;
  }
}

.pane-enter-active {
  animation: fake 2s;

  &::after {
    animation: slideEnter 1s ease 1s;
  }
}

@keyframes slideLeave {
  to {
    transform: translateX(0);
  }
}

@keyframes slideEnter {
  from {
    transform: translate(0);
  }
  to {
    transform: translateX(-100vw);
  }
}



.fade {
  opacity: 0;
}