@import "reset";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800,900&display=swap");

$dark: #222222;
$blood: #ad1a1a;
$beige: #ede9dd;

body,
button,
input,
select,
textarea {
  font-family: "Raleway";
}

body {
  background-color: $dark;
  height: 100vh;
  overflow: hidden;
}

//HOME
.home {
  background-color: $dark;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  color: white;

  h1,
  h2 {
    width: 600px;
    font-family: "Righteous";
    text-align: center;
  }

  h1 {
    margin-bottom: 50px;
    font-size: 8rem;
  }

  h2 {
    margin-bottom: -10px;
    font-size: 6rem;
    color: $blood;
  }

  h3 {
    margin-bottom: 30px;
    font-family: "Righteous";
    font-size: 2rem;
    // font-style: italic;
    color: $beige;
  }
}

.home__button {
  display: inline-block;
  padding: 15px 80px;
  cursor: pointer;
  border-radius: 5px;
  border: solid 3px $blood;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: $blood;

  &:hover {
    color: $dark;
    background-color: $blood;
  }
}

// GAME
.game {
  background-color: $dark;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  color: white;

  h2 {
    margin-bottom: 15px;
    font-family: "Righteous";
    font-size: 3rem;
    text-align: center;
    color: $blood;
  }

  h3 {
    margin-bottom: 15px;
    font-family: "Righteous";
    font-size: 1rem;
    text-align: center;
    color: $beige;
  }

  h4 {
    margin-bottom: 15px;
    font-family: "Righteous";
    font-size: 2rem;
    text-align: center;
    color: $blood;
  }

  h5 {
    margin-bottom: 15px;
    font-family: "Righteous";
    font-size: 1rem;
    text-align: center;
    color: $blood;
  }

  .button__action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 60px;
    background-color: $blood;
    border-radius: 10px;
  }

  a {
    width: 100%;
    margin-bottom: 10px;
    padding: 15px 10px;
    font-family: "Righteous";
    font-size: 1.2rem;
    text-align: center;
    color: $beige;
  }

  img {
    width: 100%;
    margin-top: 15px;
    background-size: cover;
  }
}

.buttons {
  display: flex;
  justify-content: center;
  width: 800px;

  .game__button {
    display: inline-block;
    width: 300px;
    margin: 8px 30px;
    padding: 15px 80px;
    cursor: pointer;

    border-radius: 5px;
    border: solid 3px $blood;

    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    color: $blood;

    &:hover {
      color: $dark;
      background-color: $blood;
    }
  }
}

.audio {
  display: none;
}

.audio-mute {
  position: fixed;
  display: inline-block;
  background: $dark;
  border: solid 1px $blood;
  border-radius: 18%;
  height: 32px;
  width: 32px;
  cursor: pointer;
  bottom: 20px;
  right: 20px;
  text-align: center;
  padding-top: 19px;

  &.pause {
    background: $blood;
    border: solid 1px $beige;
    color: $dark;
  }
}

.character__button {
  display: block;
  margin: 15px auto;
  padding: 5px 20px;
  cursor: pointer;

  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  color: $dark;
  border: none;
  background-color: transparent;

  &:hover {
    color: $blood;
  }
}

// CARDS
.cards {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.card {
  width: 400px;
  height: 450px;
  margin: 25px;
  padding: 15px;
  text-align: center;
  border-radius: 3%;

  font-size: 1rem;
  background-color: beige;
  // background-size: cover;
  color: $dark;

  &.active {
    transform: scale3d(1.05, 1.05, 1.05);
    border: solid 5px $blood;
  }

  &.character {
    cursor: pointer;
    transform: scale3d(1, 1, 1);
    transition: 250ms linear transform;
    &.active {
      transform: scale3d(1.05, 1.05, 1.05);
    }
  }
}

// OBJECTS
.objects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  h2 {
    margin-bottom: 15px;
    font-family: "Righteous";
    font-size: 3rem;
    text-align: center;
    color: $blood;
  }

  h4 {
    margin-bottom: 15px;
    font-family: "Righteous";
    font-size: 2rem;
    text-align: center;
    color: $blood;
  }

  h5 {
    margin-bottom: 5px;
    font-family: "Righteous";
    font-size: 1rem;
    text-align: center;
    color: $blood;
  }

  button {
    margin-top: 0px;
  }
}

.object {
  width: 200px;
  // height: 40px;
  margin: 10px;
  padding: 15px 5px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 20px;
  font-size: 1rem;
  background-color: beige;
  color: $dark;
  cursor: pointer;
  color: #ad1a1a;
  font-weight: bold;
  &:hover {
    opacity: 0.5;
  }
  &.active {
    color: beige;
    background: #ad1a1a;
  }
}

// TRANSITION DE PAGE
.black-leave-active {
  animation: toBlack 1s;
}

.black-enter-active {
  animation: toBlack 0.3s ease 0.3s reverse;
}

@keyframes toBlack {
  to {
    opacity: 0;
  }
}

// QCM

form {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  .Youpla {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  input[type="checkbox"] {
    display: none;
    position: absolute;
    // left: -9999px;
  }

  .submit-form {
    display: flex;
    width: 290px;
    height: 50px;
    margin: 20px;
    top: 35px;
    border-radius: 3%;
    /* border: $dark; */
    position: relative;
    padding: 6px 99px;
    background-color: $dark;
    text-align: center;
    font-family: "Raleway";
    cursor: pointer;
    border-radius: 5px;
    border: solid 3px $blood;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 30px;
    color: $blood;

    &:hover {
      color: $dark;
      background-color: $blood;
    }
  }

  label {
    border-radius: 3%;
    width: 200px;
    /* height: 40px; */
    display: flex;
    margin: 15px;
    position: relative;
    padding: 5px 18px 8px 70px;
    background-color: $beige;
    color: $dark;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.2s, box-shadow 0.2s;
    margin-bottom: 5px;
    font-family: "Righteous";
    font-size: 1rem;
    text-align: center;
    /* color: #ad1a1a; */
    top: 30px;
    bottom: 5px;
  }

  label::before {
    content: "";
    display: flex;
    position: absolute;
    top: 8px;
    bottom: 5px;
    left: 10px;
    width: 10px;
    height: 10px;
    border: 9px solid $dark;
    border-radius: 50px;
    transition: background-color 0.2s;
  }

  input:checked + label {
    background-color: $blood;
  }

  label::before {
    content: "";
    display: flex;
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 10px;
    width: 30px;
    border: 1px solid $blood;
    border-radius: 50px;
    transition: background-color 0.2s;
  }

  input:checked + label::before {
    background-color: $dark;
  }
}

/*lose*/

.lose {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  color: white;

  .video {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -2;
  }

  h1 {
    width: 800px;
    font-family: "Righteous";
    text-align: center;
    margin-bottom: 50px;
    font-size: 8rem;
  }

  .lose__button {
    display: inline-block;
    padding: 15px 80px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    border: solid 3px $blood;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: $blood;

    &:hover {
      color: $dark;
      background-color: $blood;
    }
  }
}
