.win {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  &::before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    z-index: -1;
  }

  &__image {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    z-index: -2;
  }

  &__content {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__title {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 900;
  }

  &__link {
    margin: 20px 0 0 0;
    text-transform: uppercase;
    font-weight: bold;
  }
}
