@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Black+And+White+Picture');

$hetic-green: #0de595;

body,
button,
input,
select,
textarea {
  font-family: 'Roboto';
}

.big-header {
  background: url('../../assets/img/background.png') center;
  height: 150vh;
  background-size: contain;
}

.big-header-desert {
  background: url('../../assets/img/Frame.png') center;
  height: 150vh;
  background-size: contain;
}


.button {
  color: blue;
  text-decoration: none;
  background: red;
  padding: 5px;
  border-radius: 15px;
  display: inline-block;
  border: none;
  height: 15px;
}