@font-face {
  font-family: "Arual";
  src: url("../assets/fonts/") format("woff2"),
         url("../assets/fonts/Arual.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "BodoniMT";
  src: url("../assets/fonts/BodoniMT.woff2") format("woff2"),
         url("../assets/fonts/BodoniMT.woff") format("woff");
  font-weight: normal;
}