.game {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game__screen {
  background-color: white;
  width: 625px;
  height: 625px;
  border-radius: 50%;
}

.inventory {
  // background-color: red;
  width: 202px;
  height: 154px;
  position: absolute;
  top: 275px;
  left: 250px;
}

.inventory__top {
  background: url('../img/inventory-top.png') no-repeat center;
  background-size: contain;
  width: 202px;
  height: 154px;
}

.inventory__bottom {
  text-align: center;
  background: url('../img/inventory-bottom.png') no-repeat center;
  background-size: contain;
  width: 125px;
  height: 66px;
}

.inventory__title {
  color: white;
  font-size: 25px;
  text-align: center;
  transform: translateY(-40px);
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: red;
  width: 150px;
  height: 300px;
  position: absolute;
  top: 200px;
  right: 50px;
}

.game__arrows {
  position: absolute;
  background: url('../img/arrow.png') no-repeat center;
  background-size: contain;
  width: 100px;
  height: 70px;
}

.game__arrows--left {
  top: 315px;
  left: 460px;
  transform: rotate(180deg) scaleY(-1);
}

.game__arrows--right {
  top: 315px;
  right: 460px;
}

.game__arrows--top {
  top: 70px;
  left: 720px;
  transform: rotate(-90deg);
}

.game__arrows--bottom {
  bottom: 70px;
  left: 720px;
  transform: rotate(90deg);
}