.home {
  background: url('../img/hellbg.gif') no-repeat center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  color: white;

  .home__title {
    background: url('../img/logo.png') no-repeat center;
    background-size: contain;
    width: 626px;
    height: 250px;
    position: fixed;
    top: 0;
    font-size: 80px;
  }

  .home__subtitle {
    position: fixed;
    bottom: 200px;
    font-size: 50px;
    color: #aaa79a;
  }
}

.characters {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  // background-color: #80040446;;
  width: 900px;
  height: 500px;
  transform: translateY(80px);
}

.characters__sexe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 350px;
}

.characters__sexe.is-select {
  border: solid 3px white;
}

.characters__carrousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.character {
  width: 150px;
  height: 225px;
}

.is-hide {
  display: none;
}

.characters__select {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.characters__select > p {
  margin-left: 35px;
  margin-right: 35px;
}

.characters__arrow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background: url('../img/arrow.png') no-repeat center;
  background-size: contain;
  width: 100px;
  height: 70px;
  width: 50px;
  height: 50px;
  text-align: center;
}

.characters__arrow--left {
  transform: rotate(180deg) scaleY(-1);
}

.button {
  color: #800404;
  text-decoration: none;
  background: #aaa79a;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  font-size: 30px;

  &:hover {
    border: solid 2px #800404;
    cursor: pointer;
  }
}

.button--back {
  position: fixed;
  bottom: 0;
  margin-bottom: 20px;
}