body {
  background-color: #fa4002;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.audio {
  position: absolute;
}
